@font-face {
    font-family: 'USSR Stencil';
    src: local('USSR STENCIL'), local('USSR-STENCIL'), url('Ussrstencil.woff2') format('woff2'), url('Ussrstencil.woff') format('woff'), url('Ussrstencil.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
